#footer{
	background-color: #FAF9F7;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 15px;
	padding-left: 15px;
}
.footer-link{
	color: white;
	margin: 5px;
	text-decoration: none;
}
#footer-links-section{
	display: inline;
	float: right;
	padding-top: 8px;
}
#footer-title {
	font-size: 32px;
	display: inline;
	text-decoration: none;
	color: black;
}
i{
	font-size: 24px;
	color: #666666;
}
.bi-facebook:hover {
color: #4267B2;
}
.bi-instagram:hover {
color: #8a3ab9;
}
.bi-linkedin:hover {
color: #0077b5;
}
.bi-twitter:hover {
color: #1DA1F2;
}